<div id = "wrapper">

<div id = "pageTitle">
	<h1  class = "mainHeading" >Editing post</h1>
</div><div class = "editContainer" >
      
      <p class = "comments" >
<%= render 'form' %>
</p>
<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
</div>

</div>